attrs==21.2.0
cachetools==4.2.4
ConfigParser==7.1.0
contextlib2==21.6.0
cryptography==3.4.7
Cython==3.0.7
descartes==1.1.0
dl==0.1.0
docutils==0.21.2
fire==0.5.0
h5py==3.12.1
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.1
Jinja2==3.1.2
jnius==1.1.0
keyring==25.5.0
lockfile==0.12.2
lyft_dataset_sdk==0.0.8
m2r==0.3.1
matplotlib==3.5.0
MinkowskiEngine==0.5.4
mmcv_full==1.5.3
mmdeploy==1.3.1
mmdet==2.25.1
mmsegmentation==0.25.0
mock==5.1.0
model_archiver==1.0.3
motmetrics==1.4.0
numba==0.53.0
numpy==1.21.5
onnx==1.17.0
open3d==0.17.0
opencv_python==4.8.1.78
pandas==2.0.3
Pillow==10.1.0
Pillow==11.0.0
protobuf==3.19.1
pycocotools==2.0.7
pycuda==2024.1.2
pydensecrf==1.0
pyOpenSSL==20.0.1
pyOpenSSL==24.3.0
pypcd==0.1.1
pyquaternion==0.9.9
pytest==7.4.3
pytorch_sphinx_theme==0.0.19
PyYAML==6.0.1
PyYAML==6.0.2
railroad==0.5.0
recommonmark==0.7.1
scikit_image==0.19.3
scikit_learn==1.3.2
scipy==1.14.1
seaborn==0.13.2
Shapely==1.8.5.post1
Sphinx==8.1.3
tensorflow==2.18.0
tensorrt==10.7.0
termcolor==2.5.0
terminaltables==3.1.10
thread==2.0.5
tornado==6.1
tqdm==4.61.2
trimesh==2.35.39
trove_classifiers==2024.10.21.16
truststore==0.10.0
ts==0.5.1
urllib3_secure_extra==0.1.0
waymo_open_dataset==1.0.1
xmlrpclib==1.0.1
